.mystyle {
  background-color: #cdc0b0;
  color: black;
  padding: 10px;
  font-family: Arial;
  text-align: center;
}

.parastyle {
  color: rgb(25, 0, 248);
  font-family: Arial;
  font-size: 35px;
  text-align: center;
}
