body {
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
}
ul.header-menu {
  display: flex;
  margin: 0;
  list-style: none;
}

.parent {
  display: flex;
}

.box {
  width: 200px;
  height: 100px;
  background-color: red;
  margin: 5px;  
}