<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;0,700;1,500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="index.css" />
  </head>
  <body>
    <header>
      Site Header
      <ul class="header-menu">
        <li><a href="aboutus.html">About us</a></li>
        <li>Contact us</li>
      </ul>
    </header>
    <section>
      Site body
      <ul>
        <li><a href="aboutus.html">About us</a></li>
        <li>
          <ul>
            <li><a href="aboutus.html">About us</a></li>
            <li>Contact us</li>
          </ul>
        </li>
      </ul>
    </section>
    <footer>site footer</footer>
  </body>
</html>
